@using RockPaperScissors.Resources;

<div class="row">
    <div class="col-12 text-start">
        <h3 @onclick="NavigateBack" style="cursor:pointer">
            <i class="bi bi-arrow-left-circle"></i>&nbsp;@ResourceFile.msgBack
        </h3>
    </div>
</div>

<h2>
    @ResourceFile.msgRockPaperScissorsBBT <button type="button" class="btn btn-secondary" style="border-radius:100px !important;" data-bs-toggle="modal" data-bs-target="#staticBackdropBBT">
        <i class="bi bi-info-circle" style="cursor:pointer"></i>
    </button>
</h2>

<div class="row">

    <div class="offset-md-1 col-md-2 cl-sm-12">
        <div class="@(userRockSelected ? "button-pressed" : "button")" @onclick="@( ()=> ChangeUserHand(rock:true))">
            <a href="#">
                <img src="assets/fist-front.svg">
            </a>
        </div>
    </div>

    <div class="col-md-2 cl-sm-12">
        <div class="@(userPaperSelected ? "button-pressed" : "button")" @onclick="@( ()=> ChangeUserHand(paper:true))">
            <a href="#">
                <img src="assets/hand-front.svg">
            </a>
        </div>
    </div>


    <div class="col-md-2 cl-sm-12">
        <div class="@(userScissorsSelected ? "button-pressed" : "button")" @onclick="@( ()=> ChangeUserHand(scissor:true))">
            <a href="#">
                <img src="assets/scissors-front.svg">
            </a>
        </div>
    </div>

    <div class="col-md-2 cl-sm-12">
        <div class="@(userLizardSelected ? "button-pressed" : "button")" @onclick="@( ()=> ChangeUserHand(lizard:true))">
            <a href="#">
                <img src="assets/lizard.svg">
            </a>
        </div>
    </div>

    <div class="col-md-2 cl-sm-12">
        <div class="@(userSpokSelected ? "button-pressed" : "button")" @onclick="@( ()=> ChangeUserHand(spok:true))">
            <a href="#">
                <img src="assets/spok.svg">
            </a>
        </div>
    </div>

</div>

<div class="row mt-4">
    <div class="col-12">
        <div class="button-clickOnly" disabled="@isAnimating" @onclick="AnimateWordsAndShowResult">
            <a href="#">
                @ResourceFile.msgStartGame
            </a>
        </div>
    </div>
    <div class="col-12 text-center">
        <div class="form-switch">
            <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked" disabled="@string.IsNullOrEmpty(userHandPrevious)" @bind-value="isCheckBoxCheck">
            <label class="form-check-label" for="flexSwitchCheckChecked">
                Computer always plays the same move you did in the previous turn.
            </label>
        </div>
    </div>
</div>


<div class="row mt-3">
    <div class="col-12">
        @if (isAnimating)
        {
            <div style="transition: opacity 0.5s ease-in-out;">
                <h2>
                    @currentWord
                </h2>
            </div>
        }
        else
        {
            @if (isTie)
            {
                <div class="col-12 text-center">
                    <h1 class="text-primary">
                        @ResourceFile.msgTie

                    </h1>
                </div>
            }

            @if (isUserWon)
            {
                <div class="col-12 text-center">
                    <h1 class="text-success">
                        @ResourceFile.msgYouWon
                    </h1>
                </div>
            }

            @if (isBotWon)
            {
                <div class="col-12 text-center">
                    <h1 class="text-danger">
                        @ResourceFile.msgYouLost
                    </h1>
                </div>
            }

            <div class="col-12 text-center">
                @if (!string.IsNullOrEmpty(botHandFinal))
                {
                    <span>
                        @string.Format(ResourceFile.msgComputerChose,botHandFinal)
                    </span>
                }
            </div>
        }

    </div>
</div>


